body {
  background-size: cover;
  #page-wrapper {
    width: 80%;
    margin: auto;
    font-family: 'Oxygen', sans-serif;

    #input {
      min-height: 170px;
      text-align: center;
    }

    .day {
      min-width: 25em;
    }

    .temp {
      font-weight: bold;
      font-size: 140%;
    }
  }
}